<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img{
            padding-top: 13%;
            -webkit-box-align: center;
        }
    </style>
    <title>경상여지도</title>
</head>
<center>
    <a href="main"><img src="/img/mainlogo.jpg" alt=""></a>
</center>

</html>