<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img{
            /* padding-top: 13%; */
            -webkit-box-align: center;
        }
        html{height: 100%;}
body{position: relative;width: 100%;height: 100%;}
.logo_box{position: absolute;top: 50%;left: 50%;margin:-272px 0 0 -491px;}

    </style>
    <title>경상여지도</title>
</head>
<body>
<div class ="logo_box">
    <a href="main"><img src="/img/mainlogo.jpg" alt=""></a>
</div>
</body>
</html>