.banner{
    position: relative;
    z-index: 5;
}
.banner:after{content:'';display:block;float:none;clear:both;}
.b-left{
    width: 25%;
    display: inline;
    float: left;
    padding-left: 30px;
    margin-top: 10px;
}  /*화면 상단 왼쪽 로고 이미지 쪽 CSS*/
.b-right{
    position:relative;
    float: right;
    width: 50%;
    padding-left: 10%;
    padding-top: 30px;
    display: inline;
    text-align: center;
}
.b-right>table{
    width: 100%;
}
.b-right>.b-content>a{
    border-right: solid 1px #ddd;
}
.b-right>.b-content>#a-first{
    border-left: solid 1px #ddd;
}
.b-right>.b-content>#b-registration{
    border-left: solid 1px #ddd;
}
 .b-right>.b-content>#a-last{
    border-right: solid 1px #ddd;
}
/* 여기부터가 배너 메뉴부분 CSS */
.b-content{
    display: inline;
    color: grey;
    text-align: center;
}
.b-content>a{
    width: 20%;
    font-size: 18px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline;
    color:black;
    text-decoration: none !important;
}
.b-content>a:hover{
    color:white;
    background-color: #ddd;
}


.b-content>p{
    width: 20%;
    font-size: 18px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline;
    color:black;
    text-decoration: none !important;
}
.b-content>p:hover{
    color:white;
    background-color: #ddd;
    cursor: pointer;
}