.navibar{
    width: 100%;
}
/* 여기서부터 NAV쪽 CSS */
.login{
    float: right;
    margin-right: 20px;
    font-size: 12pt;
}
.profile{
    float: right;
    margin-right: 20px;
    font-size: 12pt;
}
.config{
    float: right;
    margin-right: 20px;
    font-size: 12pt;
}

button{
    margin-top: 10px;
}