.myinfowindow{
    height: auto;
    font-family: 'Nanum Gothic',sans-serif;
}

#content{padding: 0 5px; width:auto; height:auto;background-color: #fff; max-width: 200px;}  


#modifydiv{display: block; left: 230px;width: 100%;border-bottom: 1px solid #e8e8e8; padding-bottom: 5px; max-width: 200px;}
#modifydiv>#modifybt{
    float: right; 
    margin-top: 2%;
    margin-left:2%;
    color: #007bff;
    background-color:rgba(0,0,0,0);
}
#modifydiv>#morecontent{
    float: right; 
    margin-top: 2%;
}
#bodycomment{
    border: solid 1px #e8e8e8;
    margin-top: 5%;
}
#bodyContent>h4{
    font-size: 1rem;
}
#bodycomment>p{
    font-size: 0.7rem;
}

#firstHeading {font-size: 18px; color: black; font-weight: bold;border-bottom: 1px solid #e8e8e8 ;}
#subheading {margin-top: 0; font-size: 8px;  font-weight: 500;}

#center { text-align: center; margin-top: 2%;}
#buttondesign { display: inline-block;width: 30%; height: 20%; background: #de4f41; line-height: 20px; color:#fff; text-align: center; border-radius: 3px;}

/* .gm-style-iw{
    height: 450px !important;
} */