
#content{padding: 0 5px; width:20vw; height:40vh;background-color: #fff;}  

#firstHeading {margin-bottom: 10px; padding-top: 20px; font-size: 22px; color: black; font-weight: bold;}
#subheading {margin-top: 0; padding-bottom: 10px; font-size: 15px; border-bottom: 3px solid #444 ; font-weight: 500;}

#center { text-align: center; padding: 20px 0 0;}
#buttondesign { display: inline-block;width: 150px; height: 40px; background: #de4f41; line-height: 20px; color:#fff; text-align: center; border-radius: 3px;}

