.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .container .pagesc {
    box-sizing: border-box;
    text-align: center;
    padding: 22px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .radio_b {
    height: 0;
    margin: 12px 0;
    z-index: 3;
  }
  
  .radio_b:checked {
    outline: 0;
    border: 0;
  }
  
  .radio_b:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 11px;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  
  .radio_b:checked:before { background-color: black; }
  
  .radio_b:after {
    content: "" attr(title) "";
    position: relative;
    left: 30px;
    opacity: 0;
    color: black;
    font-size: 9px;
    display: block;
    min-width: 80px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  
  .radio_b:checked:after {
    opacity: 1;
    left: 20px;
  }
  .radio_b:hover:after:not(label) {
   opacity: 1;
  }
  
  .radio_b:nth-of-type(1):checked ~ .labels label {
    -webkit-transform: translateY(-0%);
    transform: translateY(-0%);
  }
  
  .radio_b:nth-of-type(2):checked ~ .labels label {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  .radio_b:nth-of-type(3):checked ~ .labels label {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  
  
  .container .pagesc .labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .container .pagesc .labels label {
    min-width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
    transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
  }
  