
/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{width:100%; background:#fff; min-width:1px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
body,input,select,textarea,button {border:none;font-size:12px; font-family:'Noto Sans KR', sans-serif;color:#727272;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,caption,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 * {outline:0  !important;-webkit-tap-highlight-color:rgba(0,0,0,0) !important;;}
a:link,a:hover,a:active{text-decoration:none;}
footer {text-align:center;}


@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Form */
textarea { border:1px solid #dbdbdb;}

input[type=text],
textarea {width:100%; height:50%; font-size:14px; color:black; 
    border:1px solid #e8e8e8; background:#fff; text-decoration:none; 
    text-indent:20px;  transition: all 0.5s; vertical-align:middle; border-radius: 3px;}


textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{color:#999; font-size:13px;}
textarea { padding:5px 0px; text-indent: 20PX; box-sizing: border-box;}
select:focus,
textarea:focus,
input:focus { border: 1px solid #727272;}


/*popup*/
.popup{padding: 0 20px; width:auto; height:auto;background-color: #fff;
font-family: 'Nanum Gothic',sans-serif;}  


.popup .h1 {margin-bottom: 10px; padding-top: 20px; font-size: 20px; color: black; font-weight: bold;}
.popup .h4 {margin-top: 0; padding-bottom: 10px; font-size: 8px; border-bottom: 3px solid #444 ; font-weight: 100;}
.popup .cont { padding: 10px 10px; border-bottom:1px solid #e8e8e8;}



#activityTitle{
    margin: 0 0 5px;
}
textarea{height:150px;}

span { color:#de4f41; }

.txt_center { text-align: center; padding: 20px 0 0;}
.btn_type1 { display: inline-block;width: 30%; height: 20%; background: #de4f41; line-height: 20px; color:#fff; text-align: center; border-radius: 3px;}

#w3review{
    margin-top: 1%;
}


