/* .maps{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    width:80%;
    height:100%;
} */
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  #map {
    height: 80%;
    max-width: 90%;
    margin: 0 auto;
  }

  .panel-cont{
      display: block;
  }
  

  /*myword layout css stlye*/
  .badge {
    border-radius: 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: .7142em;
    line-height: 12px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: .875rem;
}
.bg-green {
    background-color: #50d38a !important;
    color: #fff;
}
.bg-blush {
    background-color: #ff758e !important;
    color: #fff;
}
.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}
.bg-red {
    background-color: #ec3b57 !important;
    color: #fff;
}
.bg-blue {
    background-color: #60bafd !important;
    color: #fff;
}
.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.inbox .action_bar .delete_all {
    margin-bottom: 0;
    margin-top: 8px
}

.inbox .action_bar .btn,
.inbox .action_bar .search {
    margin: 0
}

.inbox .mail_list .list-group-item {
    border: 0;
    padding: 15px;
    margin-bottom: 1px
}

.inbox .mail_list .list-group-item:hover {
    background: #eceeef
}

.inbox .mail_list .list-group-item .media {
    margin: 0;
    width: 100%
}

.inbox .mail_list .list-group-item .controls {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
    margin-top: 11px
}

.inbox .mail_list .list-group-item .controls .checkbox {
    display: inline-block
}

.inbox .mail_list .list-group-item .controls .checkbox label {
    margin: 0;
    padding: 10px
}

.inbox .mail_list .list-group-item .controls .favourite {
    margin-left: 10px
}

.inbox .mail_list .list-group-item .thumb {
    display: inline-block
}

.inbox .mail_list .list-group-item .thumb img {
    width: 40px
}

.inbox .mail_list .list-group-item .media-heading a {
    color: #555;
    font-weight: normal
}

.inbox .mail_list .list-group-item .media-heading a:hover,
.inbox .mail_list .list-group-item .media-heading a:focus {
    text-decoration: none
}

.inbox .mail_list .list-group-item .media-heading time {
    font-size: 13px;
    margin-right: 10px
}

.inbox .mail_list .list-group-item .media-heading .badge {
    margin-bottom: 0;
    border-radius: 50px;
    font-weight: normal
}

.inbox .mail_list .list-group-item .msg {
    margin-bottom: 0px
}

.inbox .mail_list .unread {
    border-left: 2px solid
}

.inbox .mail_list .unread .media-heading a {
    color: #333;
    font-weight: 700
}

.inbox .btn-group {
    box-shadow: none
}

.inbox .bg-gray {
    background: #e6e6e6
}

@media only screen and (max-width: 767px) {
    .inbox .mail_list .list-group-item .controls {
        margin-top: 3px
    }
}
/*myprofile css style*/

.profile-user-info {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.profile-info-row {
  display: table-row
}

.profile-info-name,
.profile-info-value {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.profile-info-name {
  text-align: right;
  padding: 6px 10px 6px 4px;
  color: #667E99;
  background-color: transparent;
  width: 110px;
  vertical-align: middle
}

.profile-info-value {
  padding: 6px 4px 6px 6px
}


.profile-picture {
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 4px;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

#section1{
    background:url(../img/Section1Background.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 20%);
}

