.maps{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    width:80%;
    height:700px;
}
      
#floating-panel {
    background-color: #fff;
    text-align: left;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 5;
  }
  #map {
    height:  calc(100vh - 400px);
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 300px;
  }
  .panel-cont{
      display: block;
  }
  nav{
      text-align: right;
  }

 #daedong{
    position: relative;
    width:100%;
    margin: 0 auto;
    padding:20px;
    height: 800px;
   
  }
  
  section h2{
    font-size:4em;
    color:white;
    text-shadow: 1px 2px 1px black;
    line-height: 600px;
    text-align: center;
  }
  

  /* practice */