
<div class="container" >
<div class="row flex-lg-nowrap">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile" id="editProfile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;" >사진크기표시</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap" id='current_name'>황혁주</h4>
                    <!-- <div class="text-muted"><small>언제들왔냐면2주전에</small></div> -->
                    <div class="mt-2">
                      <!--<button class="btn btn-primary" type="button" name="upload" onclick="onclick=document.upload.file.click()">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>사진 업로드</span>
                      </button>-->
                      <form action="upload" id="uploadForm" method="post" enctype="multipart/form-data">
                        <input type="file" class="file-select" name="photo1" id="photo_select" style="display:none" accept="image/*"/>
                      </form>
                      <form action="upload" id="uploadForm" method="post" enctype="multipart/form-data">
                        <input type="file" class="file-select" name="photo2" id="photo_submit1" style="display:none" accept="image/*"/>
                      </form>
                      <button class="btn btn-primary" onclick="onclick=document.all.photo1.click()">사진 선택</button>
                      <button class="btn btn-primary" id="photo_submit">사진 등록</button>
                    </div>
                    <div class="mt-2">
                      <!-- <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" id="uploader"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                          40% Complete (success)
                        </div>
                      </div> -->
                      <progress value="20" max="100"></progress>
                    </div>
                  </div>
                  <!-- <div class="text-center text-sm-right">
                    <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                  </div> -->
                </div>
              </div>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>이름</label>
                              <input class="form-control" type="text" name="name" placeholder="이름" id="my_name" value="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>학과</label>
                              <input class="form-control" type="text" placeholder="학과" id="my_college" value="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group" id="current_context">
                              <label>프로필 설명</label>
                              <textarea class="form-control" rows="5" placeholder="프로필 설명" id="my_context"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>비밀번호 변경</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>현재 비밀번호</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>새로운 비밀번호</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>비밀번호 확인</label>
                              <input class="form-control" type="password" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <input class="btn-primary" type="button" onclick='update();' value="저장"/>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>