
<div class="container">
<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
      <div class="tab-content no-border padding-24">
        <div id="home" class="tab-pane in active">
          <div class="row">
            <div class="col-xs-12 col-sm-3 center">
              <div class="profile-picture">
                <img src="/img/tempprofile.png" alt="" style="width: 144px; height: 144px;">
              </div>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-9">

              <div class="profile-user-info">

                <div class="profile-info-row">
                  <div class="profile-info-name"> 이름 </div>
                  <div class="profile-info-value">
                    <span id="user_name">황혁주</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Email </div>

                  <div class="profile-info-value">
                    <span id="user_email">nugulhie@gmail.com</span>
                  </div>
                </div>


                <div class="profile-info-row">
                  <div class="profile-info-name"> 나이 </div>

                  <div class="profile-info-value">
                    <span id="user_age">23</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> 가입날짜 </div>

                  <div class="profile-info-value">
                    <span>2020/11/16</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> 학과 </div>
                  <div class="profile-info-value">
                    <span id="user_college">컴퓨터과학과</span>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="space-20"></div>

          <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="widget-body">
                  <div class="widget-main">
                    <span id="user_context">
                      프로필 설명이 들어갑니다.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
