
<div class="container">
<div id="user-profile-2" class="user-profile">
    <div class="tabbable">
      <div class="tab-content no-border padding-24">
        <div id="home" class="tab-pane in active">
          <div class="row">
            <div class="col-xs-12 col-sm-3 center">
              <div class="profile-picture">
                <img src="/img/tempprofile.png" alt="" style="width: 144px; height: 144px;">
              </div>
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-9">

              <div class="profile-user-info">

                <div class="profile-info-row">
                  <div class="profile-info-name"> 이름 </div>
                  <div class="profile-info-value">
                    <span id="user_name"></span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Email </div>
                  <div class="profile-info-value">
                    <span id="user_email"></span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> 가입날짜 </div>
                  <div class="profile-info-value">
                    <span id="user_date"></span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> 학과 </div>
                  <div class="profile-info-value">
                    <span id="user_college"></span>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
          <div class="space-20"></div>

          <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-body">
                  <div class="widget-main">
                    <!-- <span id="user_context">
                      프로필 설명이 들어갑니다.
                    </span> -->
                    <div class="card">
                      <div class="card-header">
                        프로필 메시지
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p id="user_context"></p>
                          <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
