<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9DpObL5Rjq8bNgsXnf4cxgX3mgmUEYi4&callback=initMap&libraries=&v=weekly"
  defer>
</script>
<link rel="stylesheet" type="text/css" href="./style.css" />
<script src="/index.js"></script>
<!-- section/ -->
<div class="panel-cont" id="floating-panel">
    <input onclick="clearMarkers();" type="button" value="마커 감추기" class="btn btn-light" />
    <input onclick="deleteMarkers();" type="button" value="마커 지우기" class="btn btn-light" />
    <input onclick="showMarkers();" type="button" value="마커 보이기" class="btn btn-light" />
  </div>
<div id="map"></div>