
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/fullpage.min.js"></script>
    
    <script>
        $(document).ready(function(){
  
  // fullpage customization
  $('#fullpage').fullpage({
    sectionSelector: '.section',
    navigation: true,
    slidesNavigation: true,
    css3: true,
    controlArrows: false    
  }); 
  
});
    </script>



</body>
</html>