<label for="Slide3" id="Slide3" class="Slide">
  <div class="content" style="width: 100%; height: 100%;">
  <div id="map" ></div>
  <div class="controls fullscreen-control">
    <button title="Toggle Fullscreen">
      <div
        class="fullscreen-control-icon fullscreen-control-top-left"
      ></div>
      <div
        class="fullscreen-control-icon fullscreen-control-top-right"
      ></div>
      <div
        class="fullscreen-control-icon fullscreen-control-bottom-left"
      ></div>
      <div
        class="fullscreen-control-icon fullscreen-control-bottom-right"
      ></div>
    </button>
  </div>
</label>