<div class="section">
    <h1>3페이지</h1>
    <div class="panel-cont" id="floating-panel">
        <input onclick="clearMarkers();" type="button" value="Hide Markers" class="btn btn-light" />
        <input onclick="deleteMarkers();" type="button" value="Delete Markers" class="btn btn-light" />
        <input onclick="showMarkers();" type="button" value="Show Markers" class="btn btn-light" />
      </div>

    <div id="map" ></div>
    
</div>
</div>
