<label for="Slide3" id="Slide3" class="Slide">
<<<<<<< HEAD
<div class="content" style="width: 100%; height: 100%; ">
  <div id="map" style="min-height: 1px;min-width: 1px;"></div>
   
=======
  <div class="content" style="width: 100%; height: 100%; ">
   <div id="map" style="min-height: 1px;min-width: 1px;"></div>
    
>>>>>>> bb61e8f7d7af4ed6d26e52612a4dc11bc59b31d6
</label>